<%= form_for(@questao) do |f| %>
  <% if @questao.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@questao.errors.count, "error") %> prohibited this questao from being saved:</h2>

      <ul>
      <% @questao.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :cod %><br>
    <%= f.number_field :cod %>
  </div>
  <div class="field">
    <%= f.label :enunciado %><br>
    <%= f.text_field :enunciado %>
  </div>
  <div class="field">
    <%= f.label :resposta %><br>
    <%= f.text_field :resposta %>
  </div>
  <div class="field">
    <%= f.label :pergunta %><br>
    <%= f.text_field :pergunta %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
