<h2>Editar cadastro...</h2>
<br/>
<center>
<%= form_for @aluno do |a| %>
	<table>
		<tr>
			<td><%= a.label "Nome..." %></td>
			<td><%= a.text_field :nome, class: "input" %></td>
		</tr>
		<tr>
			<td><%= a.label "Matrícula..." %></td>
			<td><%= a.text_field :matricula, maxlength: 8, class: "input" %></td>
		</tr>
		<tr>
			<td><%= a.label "Data de Nascimento..." %></td>
			<td><%= a.date_field :dataDeNascimento, class: "input" %></td>
		</tr>
		<tr>
			<td><%= a.label "Email..." %></td>
			<td><%= a.email_field :email, class: "input" %></td>
		</tr>
	</table>
	<%= a.submit 'Enviar' %>
<% end %>
</center>