<h2>Cadastre-se...</h2>
<br/>
<center>
<%= form_for @aluno do |a| %>
	<%= a.text_field :nome, class: "input", placeholder: "Nome..." %>
	<br/>
	<%= a.text_field :matricula, maxlength: 8, class: "input", placeholder: "Matrícula..." %>
	<br/>
	<%= a.date_field :dataDeNascimento, class: "input", placeholder: "Data de Nascimento..." %>	
	<br/>
	<%= a.email_field :email, class: "input", placeholder: "Email..." %>	
	<br/>
	<%= a.password_field :senha, maxlength: 10, class: "input", placeholder: "Senha..." %>	
	<br/>
	<%= a.submit 'Enviar' %>
<% end %>
</center>